<div class="clearFix text-center custom-text">
<p>Sua organização ainda faz votações em papel?</p>
<p>Com o VoteJá ficou fácil criar votações online e engajar pessoas.</p>
</div>
<div class="row" style="margin-top:20px">
	<div class="span5 offset1">
		<div id="intro" class="clearFix text-left custom-text">
			<p style="font-size:0.9em; color:#555">O VoteJá pode ser utilizado em qualquer organização:</p>
			<ul style="font-size:0.8em; color:#555">
				<li style="line-height:35px">Eleições de Cipa</li>
				<li style="line-height:35px">Votação de benefícios</li>
				<li style="line-height:35px">Votação de estatutos</li>
				<li style="line-height:35px">Votação de conselhos</li>
			</ul>
		</div>
	</div>
	<div class="span4" style="border:2px solid #3399FF; background-color:rgba(255,204,51,0.4); border-radius:4px; padding-left:20px">
		<%= render 'users/user_form' %>
	</div>
</div>