
<%= render 'layouts/facebookscript' %>
<%= render 'layouts/twitterscript' %>

<div id="success" align="center" class="clearFix text-center custom-text">
	<h1 style="color: #006400">Successo!</h1>
	<div>
		<p>Obrigado por se interessar em nosso serviço.
		</br>Ainda estamos trabalhando para o lançamento.</p>
		</br>
		<p>Que tal compartilhar com seus amigos?</p>
	</div>
</div>

<div class="sharebuttons" align="center">
	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://javotei.com.br" 
				data-text="Adorei essa plataforma onde posso criar votações online. Veja o #javotei">Tweetar</a>
	<div class="fb-share-button" data-href="http://javotei.com.br"></div>
	</div>